.teamContainer {
    background: rgba(167, 187, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 10px;
    padding: 20px 40px;
    margin: 70px 0;
    height: 80vh;
    overflow-y: scroll;
    width: 80%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.loadingContent {
    z-index: 1000;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
}

.initialScreen {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-items: center;
    color: var(--primary);
    font-size: 1.2em;
}