body {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(1, 18, 63, 0.65) 0%, rgba(1, 18, 63, 0.9) 20%, rgba(1, 18, 63, 0.9) 80%, rgba(1, 18, 63, 0.65) 100%), url(/src/images/CR7_wallpaper.jpg);
  background-size: cover;

}