.searchContainer {
    color: var(--primary);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    gap: 40px;
}

.header {
    font-size: 1.5em;
    text-align: center;
}