th {
    padding: 5px 0;
}

td {
    padding: 15px 0;
}

.centeredData {
    text-align: center;
}

.teamName {
    cursor: pointer;
    padding: 0 10px;
}

/* .teamName:hover {
    border-bottom: 1px solid white;
} */