th {
    padding: 5px 0;
}

td {
    padding: 15px 0;
}

.centeredData {
    text-align: center;
}

.teamName {
    cursor: pointer;
    padding: 0 10px;
}

.teamName__text {
    display: inline-block;
    border-bottom: 0px solid white;
    position: relative;
}

.teamName__text:hover::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    z-index: 100;
}

/* .tableRow:nth-child(even) {
    background-color: rgb(16, 80, 139);
} */